h1{
  text-align: center;
}

/* Form Css */

#formDiv{
  display: flex;
  justify-content: center;
  margin-top: 60px;
  margin-bottom: 50px;
}

#labelDiv{
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

#labelDiv label{
  padding: 10px;
  border: solid 1px black;
  border-radius: 10px;
}

#uxLabel{
  background-color: #f2c6de;
}

#devFrontLabel{
  background-color: #c6def1;
  margin-left: 10px;
  margin-right: 10px;

}

#devBackLabel{
  background-color: #dbcdf0;
}








/* Scrumboard Css */
#outerDiv{
  display: flex;
  justify-content: space-around;
}

#toDo{
  text-align: center;
  background-color: #F7d9c4;
  min-height: 400px;
  width: 30%;
  border-radius: 10px;
  border: solid 1px rgb(163, 163, 163);
}

#inProgress{
  text-align: center;
  background-color: #faedcb;
  min-height: 400px;
  width: 30%;
  margin-right: 20px;
  margin-left: 20px;
  border-radius: 10px;
  border: solid 1px rgb(163, 163, 163);
}

#done{
  text-align: center;
  background-color: #c9e4de;
  min-height: 400px;
  width: 30%;
  border-radius: 10px;
  border: solid 1px rgb(163, 163, 163);


}


/*  Tasks Css */

.uxTask{
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  height: auto;
  background-color: #f2c6de;
  padding-bottom: 10px;
  padding-top: 5px;
  border-radius: 10px;
  border: solid 1px white;
  margin-bottom: 10px;
}

.frontDevTask{
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  height: auto;
  background-color: #c6def1;
  padding-bottom: 10px;
  padding-top: 5px;
  border-radius: 10px;
  border: solid 1px white;
  margin-bottom: 10px;

}

.backDevTask{
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  height: auto;
  background-color: #dbcdf0;
  padding-bottom: 10px;
  padding-top: 5px;
  border-radius: 10px;
  border: solid 1px white;
  margin-bottom: 10px;

}